h1{
    font-size: 300%;
    color: rgb(0, 0, 191);
    text-decoration: underline;
    text-align: center;
}
h2{
    text-align: center;
    color: white;
    font-size: xx-large;
}
h3{
    text-align: center;
    color:red;
    font-size: xx-large;
}