div{
    font-size: large;
    color: rgb(255, 255, 255);
    padding-right: 100px;
}
h3{
    font-size: xx-large;
    text-decoration: underline;
    text-align: center;
}
ul{
    font-style: italic;
}